{% extends "base.html" %}

{% block content %}
<div class="container">
	<h3>{{ vacancy.title }}</h3>
	<p><b>Требуемый опыт</b>: {{ vacancy.experience }}</p>
	<p><b>Зарплатка</b>: {{ vacancy.salary }}</p>
	<p><b>Работодатель</b>: {{ vacancy.employer }}</p>
	{% if vacancy.address %}
		<p><b>Адрес</b>: {{ vacancy.address }}</p>
	{% endif %}
	{% autoescape off %}
		{{ vacancy.content }}
	{% endautoescape %}
	<p><b>Дата публикации:</b> {{ vacancy.date }}</p>
	<p><b>Ссылка:</b> <a href="{{ vacancy.link }}">{{ vacancy.link }}</a></p>
</div>

{% endblock %}